[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=OpenInGitRepo;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=true
Icon=gitrepo

[Desktop Action OpenInGitRepo]
Icon=gitrepo
Name=Open in GitRepo
Name[pt]=Abrir no GitRepo
Name[es]=Abrir en GitRepo
Name[de]=In GitRepo öffnen
Name[fr]=Ouvrir dans GitRepo
Name[it]=Apri in GitRepo
Exec=gitrepo %U
