[Desktop Entry]
Name=Open in GitRepo
Name[bg]=Отвори в Gitrepo
Name[cs]=Otevřít v Gitrepo
Name[da]=Åbn i GitRepo
Name[de]=In GitRepo öffnen
Name[el]=Άνοιγμα στο Gitrepo
Name[es]=Abrir en GitRepo
Name[et]=Ava GitRepo's
Name[fi]=Avaa GitRepossa
Name[fr]=Ouvrir dans GitRepo
Name[he]=פתח ב-Gitrepo
Name[hr]=Otvori u GitRepo
Name[hu]=Megnyitás a Gitrepo-ban
Name[is]=Opna í Gitrepo
Name[it]=Apri in Gitrepo
Name[ja]=Gitrepoで開く
Name[ko]=GitRepo에서 열기
Name[nl]=Open in Gitrepo
Name[no]=Åpne i Gitrepo
Name[pl]=Otwórz w Gitrepo
Name[pt]=Abrir no GitRepo
Name[pt_BR]=Abrir no GitRepo
Name[ro]=Deschide în Gitrepo
Name[ru]=Открыть в Gitrepo
Name[sk]=Otvoriť v Gitrepo
Name[sv]=Öppna i Gitrepo
Name[tr]=GitRepo'da aç
Name[uk]=Відкрити в Gitrepo
Name[zh]=在 Gitrepo 中打开
Type=Application
MimeType=inode/directory;
Actions=OpenInGitRepo;
Exec=gitrepo %f
NoDisplay=true
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=true
Icon=gitrepo

[Desktop Action OpenInGitRepo]
Icon=gitrepo
Name=Open in GitRepo
Name[bg]=Отвори в Gitrepo
Name[cs]=Otevřít v Gitrepo
Name[da]=Åbn i GitRepo
Name[de]=In GitRepo öffnen
Name[el]=Άνοιγμα στο Gitrepo
Name[es]=Abrir en GitRepo
Name[et]=Ava GitRepo's
Name[fi]=Avaa GitRepossa
Name[fr]=Ouvrir dans GitRepo
Name[he]=פתח ב-Gitrepo
Name[hr]=Otvori u GitRepo
Name[hu]=Megnyitás a Gitrepo-ban
Name[is]=Opna í Gitrepo
Name[it]=Apri in Gitrepo
Name[ja]=Gitrepoで開く
Name[ko]=GitRepo에서 열기
Name[nl]=Open in Gitrepo
Name[no]=Åpne i Gitrepo
Name[pl]=Otwórz w Gitrepo
Name[pt]=Abrir no GitRepo
Name[pt_BR]=Abrir no GitRepo
Name[ro]=Deschide în Gitrepo
Name[ru]=Открыть в Gitrepo
Name[sk]=Otvoriť v Gitrepo
Name[sv]=Öppna i Gitrepo
Name[tr]=GitRepo'da aç
Name[uk]=Відкрити в Gitrepo
Name[zh]=在 Gitrepo 中打开
Exec=gitrepo %f
