[Desktop Entry]
Version=1.0
Type=Application
Name=Open in GitRepo
Name[pt]=Abrir no GitRepo
Name[es]=Abrir en GitRepo
Name[de]=In GitRepo öffnen
Name[fr]=Ouvrir dans GitRepo
Name[it]=Apri in GitRepo
Comment=Manage Git repository with GitRepo
Comment[pt]=Gerenciar repositório Git com GitRepo
Comment[es]=Administrar repositorio Git con GitRepo
GenericName=Git Repository Manager
GenericName[pt]=Gerenciador de Repositório Git
GenericName[es]=Administrador de Repositorio Git
Exec=gitrepo %F
Icon=gitrepo
Terminal=false
NoDisplay=true
StartupNotify=true
MimeType=inode/directory;
